<h1> All Lightsabers </h1>

<div class="container">
  <% @items.each do |item| %>
  <div class="item_attributes">
    <%= item.name %>
    <img class="lightsaber" src=<%= item.image %>>
    <%= number_to_currency(item.price) %>
    <%= button_to "Add To Cart", cart_path(item_id: item.id) %>
  </div>
  <% end %>
</div>
