<h1> All Lightsabers </h1>

<div class="container">
  <% @items.each do |item| %>
  <div class="item_attributes">
    <%= item.name %>
    <%= link_to(image_tag(image_path("#{item.image}"), class: "item-image" ), item_path(item))%>
    <%= number_to_currency(item.price) %>
    <% if item.status == "active" %>
      <%= button_to "Add To Cart", cart_path(item_id: item.id) %>
    <% elsif item.status == "retired" %>
      <p class="retired-button">Item Retired</p>
    <%end%>
  </div>
  <% end %>
</div>
