<h1>Analytics Dashboard</h1>

<p><%= @user.user_with_most_orders.username %> has the most orders with <%= @user.user_with_most_orders.orders.count %></p>

<% @categories.each do |category, price| %>
  <p>Highest priced item for <%= category %>: <%= number_to_currency(price) %></p>
<% end %>
