/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/databank_geonosis_01_169_1d04e086.jpeg?region=0%2C49%2C1560%2C780");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.nav_bar {
  background-color: #B22222;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 50px;
  .nav_icons {
    display: flex;
  }
  #nav_bar_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0 20px;
  }
  #saber {
    height: 45px;
    width: 50px;
  }
}

.title {
  margin-left: 10px;
  color: white;
}

.invert {
  -webkit-filter: invert(100%)
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item_attributes {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: white;
    .lightsaber {
      height: 300px;
      margin: 10px;
    }
  }
}
