/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/databank_geonosis_01_169_1d04e086.jpeg?region=0%2C49%2C1560%2C780");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.nav_bar {
  background-color: #B22222;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 90px;
  .nav_icons {
    display: flex;
  }
  #title-bar {
    display: row;
  }

  #headshot {
    height: 95%;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
  }

  .nav_bar_link:hover {
    color: white;
  }

  #nav_bar_link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-top: 28px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #saber {
    padding-top: 15px;
    height: 45px;
    width: 60px;
    display: flex;
  }
  .icon-title {
    font-size: 20px;
    color: #B22222;
    transition-duration: 0.6s;
  }
  #icon-title {
  text-decoration: none;
  font-size: 20px;
  color: #B22222;
  align-items: center;
  transition-duration: 0.6s;
 }

 #icon-title:hover, .icon-title:hover{
   color: white;
 }
}

a {
  text-decoration: none;
}

.title {
  color: white;
  padding-right: 150px;
  width: 102%;
  font-family: "Arial Black", Gadget, sans-serif;
}

.invert {
  -webkit-filter: invert(100%)
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .item_attributes {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgba(211, 211, 211, .5);
    margin: 20px;
    border: solid black 2px;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 0px 5px;
    .lightsaber {
      height: 300px;
      margin: 10px;
      padding: 20px;

    }
  }
}

.cart-image {
  height: 80px;
  width: auto;
}

.item-image {
  height: 300px;
  width: auto;
}

.flash-remove-item {
  background-color: green;
}

.retired-button {
  display: inline;
  border: dotted black 1px;
  position: relative;
  bottom: 12px;
  font-family: none;
  font-size: 13px;
  padding: 1px 5px;
  background-color: #2F4F4F;
  color: white;
}

.retired-button:hover {
  background-color: #CD5C5C;
}

#item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  #item-block{
    background-color: rgba(211, 211, 211, .9);
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 30px;
    border: solid black 4px;
    font-family: "Arial", Gadget, sans-serif;
  #item-show-image {
    height: 500px;
    width: auto;
  }
  #item-description {
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
  }
  #price-button-pair {
    font-weight: bolder;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 375px;
    height: 45px;
    border-bottom: double black 3px;
  }
 }
}

#cart-view {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 7px;
  #cart-item {
    display: flex;
    flex-flow: row;
    background-color: rgba(211, 211, 211, .9);
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid black 2px;
    border-left: solid black 2px;
    border-right: solid black 2px;
    border-bottom: double black 4px;
  }
  #cart-item-name {
    font-family: "Arial Black", Gadget, sans-serif;
  }
  #cart-item-show {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    #price-subtotal {
      display: inline-flex;
      justify-content: space-between;
      width: 400px;
      font-weight: bold;
    }
  }
  #total-cost {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    position: relative;
    left: 85%;
  }
  #quantity-remove {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    justify-content: space-around;
    width: 100px;
    padding: 10px;
    margin: 20px;
    #quantity {
      width: 30px;
    }
  }
  #checkout {
    position: relative;
    position:relative;
    left: 85%;
  }
}

#welcome-banner {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 211, 211, .7);
  border: solid black 5px;
  align-items: center;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 50px 40px;
  padding-bottom: 30px;
  #welcome-header {
    font-size: 25px;
  }
  #cover-photo {
    height: 300px;
    width: auto;
    border: solid black 1px;
  }
  #welcome-text {
    padding: 20px 150px;
    font-size: 20px;
  }
  #login-shop-pair {
    display: flex;
    justify-content: space-between;
    .title-page-button {
      margin: 0 85px;
      padding: 5px;
      color: black;
      border: solid 3px black;
      transition-duration: 1.0s;
    }
    .title-page-button:hover {
      color: rgba(211, 211, 211, .7);
      background-color: black;
    }
  }
}

table, th, tr{
 border: 1px solid black;
 background-color: rgba(250, 250, 250, .9);
 font-family: "Arial Narrow", Gadget, sans-serif;
 }

 th {
   height: 20px;
 }
