
<div class="column-flexbox">
  <h2 class="category-heading">All Lightsaber Categories</h2>
  <% @categories.each do |category| %>
    <div class="category-box">
      <p class="category"><%= link_to category.name, category.slug %></p>
    </div>
  <% end %>
</div>
