<h3> All Items for <%= @category.name %> </h3>

<div class="container">
  <% @category.items.each do |item| %>
  <%= render partial: '/partials/item_render', locals: {item: item} %>
  <% end %>
</div>
